body{
    padding-top: 3rem;
}

.to-bottom {
    top:70%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#contact {
    min-height: 100vh;
    padding-top: 3rem;
}

#about {
    min-height: 90vh;
}

.satisfy {
    font-family: 'Satisfy', cursive;
}

.catamaran {
    font-family: 'Catamaran', sans-serif;
}

p, a, input, button {
    font-family: 'Catamaran', sans-serif;
    
}

h1, h2 {
    font-family: 'Satisfy', cursive;
}

#intro-back {
    background-image: url('../images/mountain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75%;
}

#intro {
    min-height: 70vh;
}

.textarea {
    height: 10rem;
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .navbar-toggler {
    border-color: transparent; /* Removes border color */
  }


.modal-body {
    height: auto;
}

iframe { 
    height: auto;
}

.inner-modal-body {
    height: 80vh;
}

.pb-larger {
    padding-bottom: 5rem;
}

.flash-hover a:hover img {
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
  

